@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: #FAF9F6;
    color: #383a3b;
}
html{
    scroll-behavior: smooth;
} */
 body{
    background-color: black;
    color: white;
}


